.try-free-arrow {
  position: absolute !important;
  top: 50% !important;
  left: 4px;
  transform: translateY(-50%) !important;
  transition: all 0.3s ease !important;
}

.try-free-button:hover .try-free-arrow {
  transform: translateY(-50%) translateX(3px) !important;
}